<% provide :title, t(".title") %>
<div class="center jumbotron">
  <h1><%= t ".sample_app" %></h1>
  <h2>
    <h2><%= t(".content_html", href: link_to(t(".href_title"), Settings.links.rail_tutorial_link)) %><h2><br>
    <%= link_to t(".sign_up"), "./signup" , class: "btn btn-lg btn-primary" %>
  </h2>
</div>
<%= link_to image_tag("rails.svg", alt: "Rails logo", width: Settings.image.rails.width), Settings.links.rails_home_page_link %>
